<div id= "report_sub_nav">

	<h2 class="report_side_nav_title"><%= @project[:project_name] %></h2>

	<dl>
		<dt class="report_side_nav_group">標準分析</dt>
		<div class="report_side_nav_contents">
			<dd>
				<a href="#">時間軸分析</a>
				<a href="#">ディメンション</a>
			</dd>
		</div>
	</dl>
	<dl>
		<dt class="report_side_nav_group">カスタム分析</dt>
		<div class="report_side_nav_contents">
			<dd>
				<a href="#">時間軸分析</a>
				<a href="#">ディメンション</a>
			</dd>
		</div>
	</dl>
	<dl>
		<dt class="report_side_nav_group">設定</dt>
		<div class="report_side_nav_contents">
			<dd>
				<a href="#">カスタムディメンション設定</a>
				<a href="#">内容2</a>
				<a href="#">内容3</a>
				<a href="#">内容4</a>
				<a href="#">内容5</a>
				<a href="#">内容6</a>
			</dd>
		</div>
	</dl>
</div>