//shadow file
//imported by variables 

$header-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
$shadow1: 0px 2px 2px rgba(0, 0, 0, 0.3);

$shadow-cell: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);