//size file
//imported by variables 

$header-height: 56px;
$footer-height: 42px;

$desktop-xl: 1480px;
$desktop-lg: 1479px;
$desktop: 1240px;
$desktop-sm: 760px;
$mobile: 360px;

$grid-width: 160px;
$gutter-width: 40px;

@import './*';