<div id="report_nav_container">
	<div id="report_sub_nav">

		<h2 class="report_side_nav_title">カスタムポイント</h2>
			<dt class="report_side_nav_group">アプリ</dt>
			<div class="report_side_nav_contents">
				<%= link_to "設定",  edit_app_path(@app) %>
				<%= link_to "アプリ確認", app_path(@app) %>
			</div>
	</div>
</div>