<div id="report_main_view">
  <%= render partial: "reports/show/report_graph_option" %>
  <%= render partial: "reports/show/report_graph" %>
  <%= render partial: "reports/show/report_datas_container" %>
  <%= render partial: "reports/show/report_tips" %>
</div>
