#block_info_container {
	margin-bottom: 56px;

  .info_block {
		width: 320px;
		height: 210px;
		margin: 16px 12px;

	}

	table {
		margin-bottom: 0px;
		height: 100%;
		border-collapse: collapse;
		border-style: solid;
    border-color: #EEEEEE;
		border-width: 1px;
		cursor: dafault;

		.block_info_container_head {
			background-color: #fafafa;
		}

		td {
			border-width: 1px 0px;
		}
	}
}