button.icon-button {
	background-color: transparent;
	border-color: transparent;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	min-height: 36px;
	min-width: 56px;
}