.modal-wrapper {
	background-color: white;
  display: -webkit-flex;
  flex-direction: column;
  left: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  visibility: hidden;
  border-radius: 2px;
  height: 280px;
  width: 360px;
  transition: visibility .225s cubic-bezier(0.80, 0.13, 1, 0.40);

  .modal-header {
  	background-color: rgb(96, 125, 139);
    box-sizing: border-box;
    color: white;
    display: -webkit-flex;
    height: 56px;

    h2 {
	    color: white;
	    flex-grow: 1;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 300;
	    font-stretch: normal;
	    font-size: 18px;
	    line-height: 30px;
	    padding: 13px 16px 11px;
	    margin: 0px;
    }
  }

  .modal-contents {
 		height: 168px;
  }

  .modal-footer {
  	position: absolute;
  	bottom: 0;
  	align-items: stretch;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(224, 224, 224);
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    display: -webkit-flex;
    flex-direction: row-reverse;
    padding: 0px 4px;
  }
}

.modal-mask {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  left: 0;
  opacity: .8;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 9;
  position: fixed;
  transition: visibility .35s cubic-bezier(0.80, 0.13, 1, 0.40);
  transform: translateZ(0);
}