<div class="reports-dimensions-cell mdl-cell mdl-cell--12-col">
	<%= link_to dimensions_path, id: "dimensions-back-button" do %>
	<button class="reports-top-back-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
	  <i class="material-icons">chevron_left</i>
	</button>
	<% end %>
	<div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="dimensions-back-button"><strong>Dimension</strong> 一覧</div>
</div>