<div id="report_main_view">
	<div class="center mdl-cell mdl-cell--12-col mdl-grid portfolio-max-width">
		<%= render partial: "reports/dimensions/show/navigation" %>
		<%= render partial: "reports/dimensions/show/info" %>
		<%= render partial: "reports/dimensions/show/details" %>
	</div>
</div>
