<div id="config_container">


  <div id="config_main" class="layer-lg-card">
    <%= render partial: "configs/custom_points/header" %>
    <%= render partial: "configs/custom_points/main_view" %>
    <%= render partial: "configs/custom_points/footer" %>
  </div>

</div>