<header class="header">
	<div class="header-title">Everse</div>
	<div class="header-right-button">
		<button class="setting-button">
			設定
		</button>
	</div>
</header>
<div class="menu">
	<ul>
		<li><%= link_to  "新規ユーザー登録", new_customer_path %></li>
	</ul>
</div>