#report_main {
  width: 100%;
  background-color: $material_grey_50;

  // checkbox
  .graph-option-check {
    display: none;
  }
  // label for checkbox
  .graph-option-label {
    transition: background-color 0.2s linear;
    position: relative;
    display: inline-block;
    padding: 0 0 0 42px;
    vertical-align: middle;
    cursor: pointer;

    &:hover:after {
      border-color: #0171bd;
    }

    &:after {
      transition: border-color 0.2s linear;
      position: absolute;
      top: 50%;
      left: 15px;
      display: block;
      margin-top: -10px;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 6px;
      content: '';
    }

    &:before {
      transition: opacity 0.2s linear;
      position: absolute;
      top: 50%;
      left: 21px;
      display: block;
      margin-top: -7px;
      width: 5px;
      height: 9px;
      border-right: 3px solid #0171bd;
      border-bottom: 3px solid #0171bd;
      content: '';
      opacity: 0;
      transform: rotate(45deg);
    }

  }

  .graph-option-check:checked + .graph-option-label:before {
    opacity: 1;
  }

}