<%= render partial: "customers/show/customer_show_info" %>
<div class='grey-field'>
<%= render partial: "customers/show/customer_show_app" %>
<%= render partial: "customers/show/customer_show_project" %>
<%= render partial: "customers/show/customer_show_new" %>
</div>