// base css file

@import "variables/variables";

//please set font-size using by rem
//examples: 1.6rem = 10px*1.6 = 16px;
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}


body {
  color: $black;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

  .header {
    width: 100%;
  }

  .wrapper {
    padding-top: $header-height;
    // padding-bottom: 100px;
    width: 100%;


    section {
      margin: auto;
      padding-top: 80px;
    }
  }

  .footer {
    width: 100%;
  }

}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: $material_indigo_400;
  text-decoration: none;
}

.show {
  display: block;
}