<div>
	<h1 class="graph_title">block情報</h1>
	<div id="block_info_container" class="layer1">
		<table>
			<tbody id="block_info_container_tbody">
				<tr class="block_info_container_head">
					<td>Key</td>
					<td>開始時間</td>
					<td>終了時間</td>
					<td>レコード数</td>
					<td>表示色</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>