@import "../../../variables/variables";

.controller-button--children-contents {
	font-size: 12px;
}

.controller-button--children-contents-scroll {
	width: 210px;

	ul {
		padding: 16px;

		li button {
			height: 48px;
			width: 100%;
		}
	}
}