@import "../../../variables/variables";

.controller-button--children-contents {
	ul {
		padding: 16px;

		li {
			line-height: 48px;
			cursor: pointer;
		}

		li:hover {
			background-color: $gray-field;
		}
	}
}