#report_main_header {
	height: $reports-main-header-hight;
	padding: 0;
	margin: 0;

	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;

	-webkit-align-items: 	center;
	-moz-align-items: 		center;
	-ms-align-items: 		center;
	-o-align-items: 		center;
	align-items: 			center;

	border-bottom: 1px solid $material_grey_500;

	#report_project_name {
		font-size: 2.5rem;
		margin-right: auto;
		padding: 0 10px;
	}

	#report_selects {
		select {
			font-size: 2.0rem;
			margin-right: 10px;
		}
	}

}