<div class='collection-row'>
  <% collection[:value].each do |cell| %>
  <div class="collection-cell layer-cell layer-cell-hov">
  	<%= link_to cell[:cell_link] do %>
      <div class="cell-wrapper">

      	<!-- cell title -->
        <h2 class="cell-title"><%= cell[:cell_title] %></h2>

        <!-- cell image -->
        <div class="cell-image">
        	<% if cell.has_key?(:cell_image) %>
        	<%= image_tag(cell[:cell_image]) %>
          <% end %>
        </div>

        <!-- cell discription -->
        <% if cell.has_key?(:cell_discription) %>
        <div class="cell-discription">
       	 	<p><%= cell[:cell_discription] %></p>
        </div>
        <% end %>

        <p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>