<div class='modal-wrapper layer10' id='<%= modal[:wrapper][:id] %>'>
		<%= render partial: modal[:wrapper][:parcial], locals: { modal: modal } %>
</div>
<div class='modal-mask' id='<%= modal[:mask][:id] %>'></div>