@mixin layering($shadow) {
	box-shadow: $shadow;
}

header {
	@include layering($header-shadow);
}

.layer1 {
	@include layering($shadow1);
}

.layer-cell {
	@include layering($shadow-cell);
}

.layer-cell-hov {
	transition: box-shadow 0.2s ease;
}

.layer-cell-hov:hover {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}