<section class="pt-section">
	<h1 class='section-title'><%= @app.app_name %></h1>
	<% if AuthManager.authenticate_by_write_app_customer_id(@app.id) %>
		<%= link_to edit_app_path(@app), {:class => "section-button-link"} do %>
			<button class="mdl-button mdl-js-button mdl-button--icon icon-button section-icon"
								id="section-icon">
				  <i class="material-icons">settings</i>
				</button>
		<% end %>
	<% end %>
	<div class='app-index-wrapper'>
	  <h2 class="md-title">Info</h2>
	  <%=
	  table = {
	  	value: [
	  		['アプリケーション名', @app.app_name],
	  		['プロジェクト数', @app.projects.count],
	  		['権限', @app_details[:authority]['name']]
	  	]
	  }
	  render partial: "shared/partials/basic_table", locals: { table: table }
	  %>
	</div>
	<div class='app-index-wrapper'>
	  <h2 class="md-title">プロジェクト</h2>
		<%=
		projects = @app.projects.flat_map do |project|
			{
				cell_title: project.project_name,
				cell_link: project_path(project.id),
				cell_discription: 'application : ' + @app.app_name
			}
		end
		collection = {
			value: projects
		}

		render partial: "shared/partials/basic_collection", locals: { collection: collection }
		%>
	</div>
</section>