<div id="report_main_view">
  <%= render partial: "reports/time/report_graph_option" %>
  <%= render partial: "reports/time/report_graph" %>
  <%= render partial: "reports/time/report_datas_container" %>
  <%= render partial: "reports/time/report_tips" %>
</div>
