<div id="report_main_view">
  <%= render partial: "reports/main/report_graph_option" %>
  <%= render partial: "reports/main/report_graph" %>
  <%= render partial: "reports/main/report_datas_container" %>
  <%= render partial: "reports/main/report_tips" %>
</div>
