<div id="report_graph_option">
  <label id="indicater_optin_label">指標の選択</label>
  <select>
    <option>感情1</option>
    <option>感情2</option>
    <option>感情3</option>
    <option>感情4</option>
</select>
</div>