<div id="report_graph_option">
  <label id="indicater_optin_label">指標の選択</label>
  <input class="graph-option-check" type="checkbox" name="任意" value="喜び" id="emo_delight_option" />
  <label for="emo_delight_option" class="graph-option-label">喜び</label>
  <input class="graph-option-check" type="checkbox" name="任意" value="悲しみ" id="emo_sad_option" />
  <label for="emo_sad_option" class="graph-option-label">悲しみ</label>
  <input class="graph-option-check" type="checkbox" name="任意" value="怒り" id="emo_angry_option" />
  <label for="emo_angry_option" class="graph-option-label">怒り</label>
  <input class="graph-option-check" type="checkbox" name="任意" value="恐怖" id="emo_fear_option" />
  <label for="emo_fear_option" class="graph-option-label">恐怖</label>
  <input class="graph-option-check" type="checkbox" name="任意" value="ときめき" id="emo_happy_option" />
  <label for="emo_happy_option" class="graph-option-label">ときめき</label>
</div>