<div id="json_emo_details" data-json="<%= @report.emo_details %>"></div>
<div id="json_emotions" data-json="<%= @report.json_emotions %>"></div>
<div id="json_dim_stores" data-json="<%= @report.json_dim_stores %>"></div>
<div id="json_emo_tips" data-json="<%= @report.json_emo_tips %>"></div>

