<div id="json_emo_details" data-json="<%= @report.emo_details %>"></div>
<div id="json_emotions" data-json="<%= @report.json_emotions %>"></div>
<div id="json_dimensions" data-json="<%= @report.json_dimensions %>"></div>
<div id="json_emo_tips" data-json="<%= @report.json_emo_tips %>"></div>

