<div id="json_emo_details" data-json="<%= @emo_details %>"></div>
<div id="json_emotions" data-json="<%= @json_emotions %>"></div>
<div id="json_dimensions" data-json="<%= @json_dimensions %>"></div>
<div id="json_emo_tips" data-json="<%= @json_emo_tips %>"></div>

