<div id="report_container">
  <div id="report_json">
    <%= render partial: "reports/json" %>
  </div>

  <div id="report_sub" class="layer-side">
    <%= render partial: "reports/sub_nav/report_sub_nav" %>
  </div>

  <div id="report_main" class="layer-lg-card">
    <%= render partial: "reports/dimension/header" %>
    <%= render partial: "reports/dimension/view" %>
  </div>

</div>