<div id="report_main" class="report_main_contents layer-lg-card">
	<%= render partial: "reports/time/report_main_header" %>
	<%= render partial: "reports/time/report_main_view" %>
	<%= render partial: "reports/time/report_main_footer" %>
</div>